In [1]:
import pandas as pd

In [2]:
students = {"majid":16,"ali":14,"maryam":18,"sara":14.5,"alireza":17,"mohammad reza":18.5}

In [3]:
len(students)

6

In [11]:
# students.mean() #AttributeError: 'dict' object has no attribute 'mean'
# sum(students)#TypeError: unsupported operand type(s) for +: 'int' and 'str'
avg = sum(students.values())/len(students)
print(f"Average : {avg:.2f}")

Average : 16.33

In [16]:
# students>avg #TypeError: '>' not supported between instances of 'dict' and 'float'
# students.values()>avg #TypeError: '>' not supported between instances of 'dict_values' and 'float'
passed_students = {name:grade for name, grade in students.items() if grade>=avg}
passed_students

{'maryam': 18, 'alireza': 17, 'mohammad reza': 18.5}

In [20]:
# students2 = students+1.5 #TypeError: unsupported operand type(s) for +: 'dict' and 'float'
# students.values()+1.5 TypeError: unsupported operand type(s) for +: 'dict_values' and 'float'
students2 = {name:grade+1.5 for name , grade in students.items()}
students2

{'majid': 17.5,
 'ali': 15.5,
 'maryam': 19.5,
 'sara': 16.0,
 'alireza': 18.5,
 'mohammad reza': 20.0}

In [21]:
ds = pd.Series(students)

In [22]:
type(ds)

pandas.core.series.Series

In [23]:
ds

majid            16.0
ali              14.0
maryam           18.0
sara             14.5
alireza          17.0
mohammad reza    18.5
dtype: float64

In [24]:
type(ds) , ds.dtype

(pandas.core.series.Series, dtype('float64'))

In [26]:
print(students.keys())
print(students.values())

dict_keys(['majid', 'ali', 'maryam', 'sara', 'alireza', 'mohammad reza'])
dict_values([16, 14, 18, 14.5, 17, 18.5])

In [28]:
print(ds.index , type(ds.index))
print(ds.values , type(ds.values))

Index(['majid', 'ali', 'maryam', 'sara', 'alireza', 'mohammad reza'], dtype='object') <class 'pandas.core.indexes.base.Index'>
[16.  14.  18.  14.5 17.  18.5] <class 'numpy.ndarray'>

# دسترسی به عناصر دیکشنری و پانداس سریز

In [29]:
students["majid"]

16

In [33]:
ds["majid"] , ds[0] , ds.majid

(16.0, 16.0, 16.0)

In [36]:
# students["majid","ali"] #KeyError: ('majid', 'ali')
# students[["majid","ali"]] # TypeError: unhashable type: 'list'

In [40]:
ds[["majid","ali"]]

majid    16.0
ali      14.0
dtype: float64

In [41]:
ds[[0,-1]]

majid            16.0
mohammad reza    18.5
dtype: float64

In [42]:
ds[:3]

majid     16.0
ali       14.0
maryam    18.0
dtype: float64

In [43]:
ds["majid":"sara"]

majid     16.0
ali       14.0
maryam    18.0
sara      14.5
dtype: float64

In [45]:
ds[[True,False,False,False,False,True]]

majid            16.0
mohammad reza    18.5
dtype: float64

In [47]:
ds.mean()

16.333333333333332

In [56]:
filt = ds>ds.mean()
type(filt) , filt.dtype

(pandas.core.series.Series, dtype('bool'))

In [57]:
ds[filt]

maryam           18.0
alireza          17.0
mohammad reza    18.5
dtype: float64

In [61]:
ds[ds>ds.mean()]

maryam           18.0
alireza          17.0
mohammad reza    18.5
dtype: float64

In [58]:
ds2 = ds+1.5

In [59]:
ds

majid            16.0
ali              14.0
maryam           18.0
sara             14.5
alireza          17.0
mohammad reza    18.5
dtype: float64

In [60]:
ds2

majid            17.5
ali              15.5
maryam           19.5
sara             16.0
alireza          18.5
mohammad reza    20.0
dtype: float64

1- نام دانشجویانی که از میانه کلاس بیشتر شده اند
2- نام و نمرات دانشجویانی که پاس شده اند
3- نمرات دانشجویان دختر
4- نمرات دانشجویان را به بازه 0 و 1 نرمال کنید.

# $x_n = \frac{x-min(x)}{max(x)-min(x)}$